<!-- update.ejs -->
<!DOCTYPE html>
<htmi>
   <head>
       <tiile>Update users</tiile>
    <link rel="stylesheet" href="../css/style.css" />

   </head>
<body>
   <h1>Update users</h1>
   <form method="post" action="/update/<%= users.id %>"
       <label for="tiile"></label>
       <input type="text" id="title" name="title" value="<%= users.username %>"
       <br>
       <label for="author">Author</label>
       <input type="text" id ="author" name ="author"  value="<%= users.password %>"
       <br>
       <input type="submit" value="Update">
   </form>
   <a href="/users/<%= users.id %>">View</a>
   <a href="/delete/<%= users.id %>">Delete</a>
   <a href="/"users to List </a>
</body>
</htmi>